body{
  background-color:rgb(131, 182, 223);
 
 
}
h3{
  color: goldenrod;
  text-shadow: 1px 1px 2px pink;
  font-family: Arial, Helvetica, sans-serif;
}


#app{
 height: fit-content;
}

#postedeluz {
    width: 13px;
    height: 250px;
    box-shadow: 2.5px 1px 0px 1px rgb(182 182 182);
    margin-bottom: 0%;
    
  }
  
  #luces {
    width: fit-content;
    height: fit-content;
    position: relative;
    border-radius: 17px;
    box-shadow: 3px 3px 0px 1px rgb(182 182 182);
   
  }
#road{
  height: fit-content;
  height: 150px;
border-collapse: collapse;

}
#line{
  height: 30px;
  width: 200px;
  border-style: dashed;
  border-color:white;


}
#linetwo{
  height: 30px;
  width: 200px;
    border-style: dashed;
  border-color: white;
  right: 500px;
  

}



  

  
.circulo{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  
  opacity: 80%;  
  box-shadow: inset 13px 6px 0 white;
  opacity: 80%;  
  box-shadow: inset 5px 4px 0 white;
  cursor:grab;
      
}

.rojo{
    background-color: rgb(216, 69, 69);
    opacity: 70%;
   
}
.amarillo{
    background-color: rgb(250, 189, 77);
    opacity: 70%;
   
}
.verde{
    background-color: rgb(85, 245, 85);
    opacity: 70%;
   
}
.sombra{
  cursor: pointer;
  box-shadow:  -2px 0px 20px 10px rgb(246, 190, 49); 
  opacity: 100%;
  
}
.morado {
    background-color: rgb(109, 37, 177);
}
#intervalo{
  position: relative;
  right: 5px;
  bottom: 200px;

}
#newColor{
  position: relative;
  right: 5px;
  bottom: 150px;

}






